/*************** GENERAL STYLES ******************/
/*************** GENERAL STYLES contains *, body, html, p, h1 etc.., ul an ol defaults like no bullet ******************/

* {
    padding: 0%;
    margin: 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

body, html {
    font-size: 14px;
    height: 100%;
}

li {
    list-style: none;
}

a,
a:visited {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: white;
}   


/************ HEADER ***********/

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    padding: 0% 5% 0% 0%;
    align-items: center;
    font-size: calc(0.5rem + 1.5vw);
    top: 0;
    border: 1px solid black;
    z-index: 1; /* évite que le hero text passe au dessus de la barre nav*/
}

.logo img {
    position: relative;
    max-width: 70%;
    max-height: 80px;
    padding: 5px;
}
    
nav ul {
    display: flex;
    justify-content: space-between;
    width: 70%;  
}

#icons {
    cursor: pointer;
    display: none;  
}

/* || ******************  NAV BAR - MEDIA QUERIES ****************/

@media (max-width: 700px) {
    
    #icons {
        display: block;
    }
    
    #icons::before {
        content: "MENU \2630";
        font-size: calc(0.7rem + 1.5vw);
        position: relative; /*permet de déplacer la croix si on déplace la barre nav*/
    }
    
    .active #icons:before {
        content: "\2715";
    }
    
    nav ul {
        position: fixed;
        left: +100%;
        top: 60px;
        flex-direction: column;
        background: skyblue;
        width: 50%;
        text-align: center;
        transition: 0.25s;
        border: 1px solid grey;
        border-radius: 10px;
    }
    
    nav li {
        padding: 3px;
    }
    
    nav li:hover {
        background-color: rgb(31, 180, 239);
        border-radius: 10px;
        border: 1px solid rgb(1, 129, 184);
        
    }
    
    nav.active ul {
        left: 50%;
    }
}
/************ ||  FIN DE NAVBAR & FIN DE MEDIA QUERIES ||  ***********/







/* ||**********--------------- MAIN PAGE --------------*********** || */

/* ||**********-------------- SECTION HERO -------------********** || */
.hero {
    width: auto;
    height: 50vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("worker.jpg");
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
}

.hero-text {
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ||**********------------- MISSION ENTREPRISE -------------********** || */


.sectionMission {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background-color: #F6F4EB;
}

.mission {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 5%;
}

.ecologo {
    padding: 1%;
    object-fit: contain;

}

.ecologo img {
    width: auto;
    height: 20vw;
    position: relative;
    top: 10%;
    object-fit: cover;
}

.mission > h2 {
    text-align: center;
    width: 100%;
    border-bottom: 4px solid rgb(122, 193, 221);
    padding-bottom: 5%;
    margin-bottom: 20px;


}
/* || ***************------------- PRESTATIONS *************----------- || */






.flexbox-container {
    display: flex;
    min-height: 80vw;
    border: 2px solid red;
    justify-content: center;
    flex-wrap: wrap; 
}

.item {
    width: 30vw;
    height: 40vw;
    margin: 5vw;
    border: 3px solid grey;
    border-radius: 10%;
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
    justify-content: center;
    color: #ffffff;
    line-height: 3;
}

.deratisation {
    background: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), url(rat.png);
    background-size: cover;
}

.desinsectisation {
    background: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), url(insecte.png);
    background-size: cover;
}

.desinfection {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), url(desinfection.png);
    background-size: cover;
}

.depigeonnage {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), url(pigeons.png);
    background-size: cover;
}
.destruction {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), url(niddeguepes.png);
    background-size: cover;
}

.multiservices {
    display: flex;
    justify-content: center;
}
.interieure {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), url(renovationinterieure.png);
    background-size: cover;
}
.exterieure {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)), url(renovationexterieure.png);
    background-size: cover;
}
