* {
    padding: 0%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

a,
a:visited {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: white;
}   

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("worker.jpg");
    background-size: cover;
    height: 600px;
    position: relative;
    top: 0px;
    z-index: -1;
}

/************NAVBAR***********/

nav {
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    align-items: center;
    font-size: calc(0.5rem + 1.5vw);    
}

.logo img {
    position: relative;
    max-width: 70%;
    max-height: 80px;
    padding: 5px;
}
    
nav ul {
    display: flex;
    justify-content: space-between;
    width: 70%;    
}

#icons {
    cursor: pointer;
    display: none;  
}

@media (max-width: 650px) {
    #icons {
        display: block;
    }
    #icons::before {
        content: "MENU \2630";
        font-size: calc(0.7rem + 1.5vw);
    }
    .active #icons:before {
        content: "\2715";
    }
    nav ul {
        position: fixed;
        left: +100%;
        top: 5%;
        flex-direction: column;
        background: skyblue;
        width: 50%;
        text-align: center;
        transition: 0.25s;
    }
    nav li {
        padding: 3px;
    }
    nav li:hover {
        background-color: rgb(31, 180, 239);
    }
    nav.active ul {
        left: 50%;
    }
    .hero-image {
        position: relative;
        width: auto;
        bottom: -150px;    
    }

    .logo img {
        
    }

/************ FIN DE NAVBAR***********/